body {
    background-color: #fdf6e3;
}

.box {
    color: black;
    border-right-color: #586e75;
}

table.taskboard {
    color: black;
    background-color: #eee8d5;
}

.task_box {
    background-color: #fdf6e3;
}

.backlog {
	background-color: white;
}

.in_progress {
	border-color: #FFAA00;
}

.assigned {
	border-color: #FF5600;
}

.done {
	border-color: #00AA72;
}

.project_separator {
    border-top-color: #586e75;
}

.project_actions {
    border-color: #586e75;
    color: black;
}

.deliverable,
.task {
    color: black;
    border-color: #586e75;
    background-color: #FEFBF1;
}

.deliverable.red {
    background-color: #d33;
}

.deliverable.green {
    background-color: #3a3;
}

.deliverable.yellow {
    background-color: yellow;
}

.assignee {
    color: #fff;
    border-color: #333;
    background-color: #aaa;
}