body {
    background-color: white;
}

.box {
    color: black;
    border-right-color: black;
}

.project {
    color: black;
    background-color: white;
}

.backlog {
	background-color: white;
}

.in_progress {
	border-color: #FFAA00;
}

.assigned {
	border-color: #FF5600;
}

.done {
	border-color: #00AA72;
}

.project_separator {
    border-top-color: black;
}

.project_actions {
    border-color: black;
    background-color: white;
    color: black;
}

.task {
    color: black;
    background-color: #FEFBF1;
}

.assignee {
    color: #fff;
    border-color: #333;
    background-color: #aaa;
}