body {
    background-color: black;
    color: white;
}

.box {
    color: white;
    border-right-color: black;
}

.project {
    color: white;
    background-color: #000;
}

.backlog {
	background-color: #4671D5;
}

.in_progress {
	background-color: #FFAA00;
}

.assigned {
	background-color: #FF5600;
}

.done {
	background-color: #00AA72;
}

.project_separator {
    border-top-color: white;
}

.project_actions {
    border-color: black;
    background-color: white;
    color: black;
}

.task {
    color: black;
    border-color: #666;
}