body {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

.taskboard {
    width: 100%;
}

.box {
    width: 20%;
    vertical-align: top;
    border-right-width: 2px;
    border-right-style: dotted;
}

.last_box {
    border-right: none;
}

.deliverables_box {
    border-top-width: 2px;
    border-top-style: dotted;
    border-right-width: 2px;
    border-right-style: dotted;
}

.deliverables_actions_box {
    border-top-width: 2px;
    border-top-style: dotted;
}

.project {
}

.backlog {
}

.in_progress {
}

.assigned {
}

.task_decorator {
    float: right;
    margin: 12px 3px 3px 12px;
}

.task_actions {
}

.deliverable_description,
.description {
    padding: 6px;
    cursor: pointer;
}

.assignee {
    display: block-inline;
    vertical-align: top;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
}

img.task_back_action, img.task_forward_action, img.new_task_action, .project_name, .project_description, img.add_project {
    cursor: pointer;
}

div.task.backlog img.task_forward_action,
div.task.backlog img.task_back_action,
div.task.done img.task_forward_action {
    display: none;
}

.done {
}

.project_separator {
    border-top-width: 3px;
    border-top-style: dashed;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.project_actions, .board_actions {
    float: right;
    cursor: pointer;
}

.project_name {
    margin-top: 2px;
}

.project_description {
    margin-top: 6px;
}

img.delete_project_action {
    padding: 2px;
}

.deliverable,
.task {
    float: left;
    border-width: 1px solid;
    border-style: solid;
    margin: 2px;
    padding: 2px;
    max-width: 20em;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

table.taskboard {
    clear: both
}

